<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lý Lich Khoa Học</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="css/datetime-picker/bootstrap-datetimepicker.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/flat-ui/flat-ui.css" > -->
    <link rel="stylesheet" type="text/css" href="css/custom/custom.css">

    <!-- Bootstrap js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sticky/jquery.sticky.js"></script>
    <script src="js/datetime-picker/bootstrap-datetimepicker.js"></script>
    <!-- <script src="js/flat-ui/flat-ui.min.js"></script>  -->
    <script src="js/function/function.js"></script>
    <script src="js/custom/custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="header">

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">            
            <a class="navbar-brand" href="index.html"><span class="hidden-sm hidden-md hidden-lg">Đại học Trà Vinh</span><span class="hidden-xs">Trường Đại học Trà Vinh</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <!-- 
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> 
              -->
            </ul>
            <!-- 
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> 
            -->
            <ul class="nav navbar-nav navbar-right"> 
              <li><a href="hoat-dong-nghien-cuu-khoa-hoc.html"> Nghiên cứu</a></li>
              <li><a href="ngoai-ngu.html"> Ngoại ngữ</a></li> 
              <li><a href="mon-hoc.html"> Môn học</a></li>  
              <li><a href="nam-hoc.html"> Năm học</a></li>             
              <li><a href="#"><b class="glyphicon glyphicon-user"></b> Account Info</a></li>
              <li><a href="#"><b class="glyphicon glyphicon-off"></b> Logout</a></li>
              <li class="dropdown">
                <a href="login.html" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-lock"></b> Login</a>
                <ul class="dropdown-menu form-login">
                  <li>
                    <div class="row">
                      <div class="col-xs-12">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control border-radius-none" id="exampleInputEmail2" placeholder="Email address" required>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control border-radius-none" id="exampleInputPassword2" placeholder="Password" required>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember me
                            </label>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-orange btn-block border-radius-none">Sign in</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>                  
                </ul>
              </li> 

            </ul>
          </div>
        </div>
      </nav>    

    </div><!-- header -->
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">                       
          <div class="danh-sach-giang-vien">
            <div class="panel panel-default table-responsive">
              <div class="panel-heading">
                <h3 class="panel-title">Danh sách giảng viên</h3>
                <div class="pull-right pull-right-btn-filter">
                  <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i class="glyphicon glyphicon-filter"></i>
                  </span>
                </div>
              </div>
              <div class="panel-body">
                <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Tìm kiếm giảng viên" />
              </div>
              <table class="table table-bordered table-hover pointer" id="task-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tên giảng viên</th>
                    <th class="hidden-xs hidden-sm">Khoa</th>
                    <th class="hidden-xs hidden-sm hidden-md">Bộ môn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr onclick="setLocation('index.html')">
                    <td>1</td>
                    <td>Site Wireframes</td>
                    <td class="hidden-xs hidden-sm">John Smith</td>
                    <td class="hidden-xs hidden-sm hidden-md">in progress</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>2</td>
                    <td>Mobile Landing Page</td>
                    <td class="hidden-xs hidden-sm">Kilgore Trout</td>
                    <td class="hidden-xs hidden-sm hidden-md">completed</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>3</td>
                    <td>Add SEO tags</td>
                    <td class="hidden-xs hidden-sm">Bob Loblaw</td>
                    <td class="hidden-xs hidden-sm hidden-md">failed qa</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>4</td>
                    <td>Migrate to Bootstrap 3</td>
                    <td class="hidden-xs hidden-sm">Emily Hoenikker</td>
                    <td class="hidden-xs hidden-sm hidden-md">in progress</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>5</td>
                    <td>Update jQuery library</td>
                    <td class="hidden-xs hidden-sm">Holden Caulfield</td>
                    <td class="hidden-xs hidden-sm hidden-md">deployed</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>6</td>
                    <td>Issues in IE7</td>
                    <td class="hidden-xs hidden-sm">Jane Doe</td>
                    <td class="hidden-xs hidden-sm hidden-md">failed qa</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>7</td>
                    <td>Bugs from Sprint 14</td>
                    <td class="hidden-xs hidden-sm">Kilgore Trout</td>
                    <td class="hidden-xs hidden-sm hidden-md">completed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <!-- 
          <form id="form-edit" name="form-edit" method="post" action="index.html"> 
          -->

            <div class="row">
              <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-right">
                <button class="btn btn-default">Lưu</button>
              </div>                

              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h3 class="header-thong-tin-ca-nhan">A. Thông tin cá nhân</h3>
              </div>

              <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 text-right">
                <button class="btn btn-default affix" onclick="reset('#form-edit')">Lưu</button>
              </div>
              <div class="hidden-xs col-sm-1 col-md-1 col-lg-1 text-right">
                &nbsp;&nbsp;
              </div>
            </div>          
            
            
            <h3><small><b>1. Thông tin cá nhân</b></small></h3>            
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Họ và tên
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ngày vào đảng
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Ngày vào đảng">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Dân tộc
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <select class="form-control">
                    <option value="">Chọn</option>
                    <option value="1">Kinh</option>
                    <option value="2">Kherme</option>
                    <option value="3">Tầy</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ngày vào đoàn
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Ngày vào đảng">
                </div>
              </div>
            </div>


            <h3><small><b>2. Các chứng chỉ</b></small></h3>              
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.1. 
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên chứng chỉ
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nghiệp vụ sư phạm" value="Nghiệp vụ sư phạm" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trạng thái
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Có
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Không
                    </label>
                  </div>
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.2. 
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên chứng chỉ
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Triết lý sau đại học" value="Triết lý sau đại học" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trạng thái
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <div class="btn-group form-group has-success" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Có
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Không
                    </label>
                  </div>
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.3. 
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên chứng chỉ
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ngoại ngữ" value="Ngoại ngữ" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trạng thái
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <div class="btn-group form-group has-success" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Có
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Không
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Loại ngoại ngữ
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <select class="form-control modal-ngoai-ngu">
                    <option value="">Chọn</option>
                    <option value="1">Tiếng anh</option>
                    <option value="4">Tiếng nhật</option>
                    <option value="2">Tiếng pháp</option>
                    <option value="3">Tiếng trung</option>                      
                    <option value="#modal-ngoai-ngu">Ngoại ngữ khác</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trình độ
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Trình độ">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>

            <h3>B. Kinh nghiệm làm việc</h3>

            <h3><small><b>1. Công tác giảng dạy</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                1.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên môn
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <select class="form-control modal-mon-hoc">
                    <option value="">Chọn</option>
                    <option value="1">Kỹ thuật máy tính</option>
                    <option value="2">Lập trình PHP</option>
                    <option value="3">Lập trình .net</option>
                    <option value="4">Lập trình hướng đối tường</option>
                    <option value="#modal-mon-hoc">Môn học khác</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Số tiết
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <select class="form-control">
                    <option value="">Chọn</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="60">60</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Bậc học
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" title="Đại học">
                      <input type="checkbox" autocomplete="off" checked>
                      <span class="hidden-xs">Đại học</span><span class="hidden-sm hidden-md hidden-lg">ĐH</span>
                    </label>
                    <label class="btn btn-default" title="Cao đẳng">
                      <input type="checkbox" autocomplete="off"> 
                      <span class="hidden-xs">Cao đẳng</span><span class="hidden-sm hidden-md hidden-lg">CĐ</span>
                    </label>
                    <label class="btn btn-default" title="Trung cấp">
                      <input type="checkbox" autocomplete="off"> <span class="hidden-xs">Trung cấp</span><span class="hidden-sm hidden-md hidden-lg">TC</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Hệ đào tạo
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" title="Liên thông">
                      <input type="checkbox" autocomplete="off" checked> 
                      <span class="hidden-xs">Liên thông</span>
                      <span class="hidden-sm hidden-md hidden-lg">LT</span>
                    </label>
                    <label class="btn btn-default" title="Chính quy">
                      <input type="checkbox" autocomplete="off">
                      <span class="hidden-xs">Chính quy</span>
                      <span class="hidden-sm hidden-md hidden-lg">CQ</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>              

            <h3><small><b>2. Công tác nghiên cứu khoa học</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên công tác
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nghiên cứu khoa học" value="Nghiên cứu khoa học" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trạng thái
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <div class="btn-group form-group has-success" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Có
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Không
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.2.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên công tác
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Sáng tạo thiết bị, mô hình, đồ dùng dạy học" value="Sáng tạo thiết bị, mô hình, đồ dùng dạy học" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Trạng thái
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">
                  <div class="btn-group form-group has-success" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> Có
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="options" id="option2" autocomplete="off"> Không
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
            

            <h3><small><b>3. Công tác khác</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                3.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Nội dung
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nhập nội dung công tác" value="">
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>              
            

            <h3>C. Định hướng phát triển</h3>
            
            <h3><small><b>1. Công tác giảng dạy</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                1.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên môn
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <select class="form-control modal-mon-hoc">
                    <option value="">Chọn</option>
                    <option value="1">Kỹ thuật máy tính</option>
                    <option value="2">Lập trình PHP</option>
                    <option value="3">Lập trình .net</option>
                    <option value="4">Lập trình hướng đối tường</option>
                    <option value="#modal-mon-hoc">Môn học khác</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Số tiết
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <select class="form-control">
                    <option value="">Chọn</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="60">60</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Bậc học
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" title="Đại học">
                      <input type="checkbox" autocomplete="off" checked>
                      <span class="hidden-xs">Đại học</span><span class="hidden-sm hidden-md hidden-lg">ĐH</span>
                    </label>
                    <label class="btn btn-default" title="Cao đẳng">
                      <input type="checkbox" autocomplete="off"> 
                      <span class="hidden-xs">Cao đẳng</span><span class="hidden-sm hidden-md hidden-lg">CĐ</span>
                    </label>
                    <label class="btn btn-default" title="Trung cấp">
                      <input type="checkbox" autocomplete="off"> <span class="hidden-xs">Trung cấp</span><span class="hidden-sm hidden-md hidden-lg">TC</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Hệ đào tạo
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active" title="Liên thông">
                      <input type="checkbox" autocomplete="off" checked> 
                      <span class="hidden-xs">Liên thông</span>
                      <span class="hidden-sm hidden-md hidden-lg">LT</span>
                    </label>
                    <label class="btn btn-default" title="Chính quy">
                      <input type="checkbox" autocomplete="off">
                      <span class="hidden-xs">Chính quy</span>
                      <span class="hidden-sm hidden-md hidden-lg">CQ</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>              

            <h3><small><b>2. Công tác nghiên cứu khoa học</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                2.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên công tác
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nghiên cứu khoa học" value="Nghiên cứu khoa học">
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>              
            

            <h3><small><b>3. Học tập nâng cao trình độ</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                3.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Nội dung
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nội dung" value="Nội dung">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Nơi học
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nơi học" value="Nơi học">
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian kết thúc
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian kết thúc">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
                        

            <h3><small><b>4. Các hoạch định khác</b></small></h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                4.1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Nội dung
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nội dung" value="Nội dung">
                </div>
              </div>
            </div>                            
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian bắt đầu
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian bắt đầu">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Thời gian kết thúc
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Thời gian kết thúc">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
                        

            <h3>D. Các bài báo cáo khoa học đã công bố</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                1.
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                &nbsp;&nbsp;
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Tên bài báo
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Tên bài báo" value="Tên bài báo">
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Nơi xuất bản
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Nơi xuất bản" value="Nơi xuất bản">
                </div>
              </div>
            </div>                          
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Năm xuất bản
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control date-time" placeholder="Năm xuất bản">
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                Ghi chú
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                <div class="form-group has-success">                  
                  <input type="text" class="form-control" placeholder="Ghi chú">
                </div>
              </div>
            </div>
            
          <!-- 
          </form> 
          -->
        </div>
      </div> 



      <div class="modal fade" id="modal-mon-hoc" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Môn học mới</h4>
            </div>
            <div class="modal-body">              
              <div class="row">                  
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                  <div class="form-group has-success">                  
                    <input type="text" class="form-control" placeholder="Nhập tên môn học mới">
                  </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                  <button class="btn btn-default">Thêm</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal-ngoai-ngu" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Thêm ngoại ngữ</h4>
            </div>
            <div class="modal-body">              
              <div class="row">                  
                <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
                  <div class="form-group has-success">                  
                    <input type="text" class="form-control" placeholder="Nhập tên ngoại ngữ mới">
                  </div>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
                  <button class="btn btn-default">Thêm</button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div> 

    </div><!-- content -->
    <div id="footer">
      
    </div><!-- footer -->
  </body>
</html>