<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lý Lich Khoa Học</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="css/datetime-picker/bootstrap-datetimepicker.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/flat-ui/flat-ui.css" > -->
    <link rel="stylesheet" type="text/css" href="css/custom/custom.css">

    <!-- Bootstrap js -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sticky/jquery.sticky.js"></script>
    <script src="js/datetime-picker/bootstrap-datetimepicker.js"></script>
    <!-- <script src="js/flat-ui/flat-ui.min.js"></script>  -->
    <script src="js/function/function.js"></script>
    <script src="js/custom/custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div id="alert" class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <span>Đăng nhập thành công</span>
    </div>
    <div id="header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">            
            <a class="navbar-brand" href="index.html"><span class="hidden-md hidden-lg">ĐH Trà Vinh</span><span class="hidden-xs hidden-sm">Trường Đại học Trà Vinh</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <!-- 
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> 
              -->
            </ul>
            <!-- 
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> 
            -->
            <ul class="nav navbar-nav navbar-right">              
              <li><a href="hoat-dong-nghien-cuu-khoa-hoc.html">Phân quyền</a></li>
              <li><a href="hoat-dong-nghien-cuu-khoa-hoc.html">Nghiên cứu</a></li>
              <li><a href="ngoai-ngu.html">Ngoại ngữ</a></li> 
              <li><a href="mon-hoc.html">Môn học</a></li>  
              <li><a href="nam-hoc.html">Năm học</a></li>
              <!-- <li><a href="#"><b class="glyphicon glyphicon-off"></b> Thoát</a></li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="glyphicon glyphicon-lock"></b> Đăng nhập</a>
                <ul class="dropdown-menu form-login">
                  <li>
                    <div class="row">
                      <div class="col-xs-12">
                        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control border-radius-none" id="exampleInputEmail2" placeholder="Email address" required>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control border-radius-none" id="exampleInputPassword2" placeholder="Password" required>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember me
                            </label>
                          </div>
                          <div class="form-group">
                            <button type="submit" class="btn btn-orange btn-block border-radius-none">Sign in</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </li>                  
                </ul>
              </li> 

            </ul>
          </div>
        </div>
      </nav>    

    </div><!-- header -->
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">                       
          <div class="danh-sach-giang-vien">
            <div class="panel panel-default table-responsive">
              <div class="panel-heading">
                <h3 class="panel-title">Danh sách giảng viên</h3>
                <div class="pull-right pull-right-btn-filter">
                  <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
                    <i class="glyphicon glyphicon-filter"></i>
                  </span>
                </div>
              </div>
              <div class="panel-body">
                <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Tìm kiếm giảng viên" />
              </div>
              <table class="table table-bordered table-hover pointer" id="task-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Họ và tên</th>
                    <th class="hidden-xs hidden-sm">Khoa</th>
                    <th class="hidden-xs hidden-sm hidden-md">Bộ môn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr onclick="setLocation('index.html')">
                    <td>1</td>
                    <td>Site Wireframes</td>
                    <td class="hidden-xs hidden-sm">John Smith</td>
                    <td class="hidden-xs hidden-sm hidden-md">in progress</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>2</td>
                    <td>Mobile Landing Page</td>
                    <td class="hidden-xs hidden-sm">Kilgore Trout</td>
                    <td class="hidden-xs hidden-sm hidden-md">completed</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>3</td>
                    <td>Add SEO tags</td>
                    <td class="hidden-xs hidden-sm">Bob Loblaw</td>
                    <td class="hidden-xs hidden-sm hidden-md">failed qa</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>4</td>
                    <td>Migrate to Bootstrap 3</td>
                    <td class="hidden-xs hidden-sm">Emily Hoenikker</td>
                    <td class="hidden-xs hidden-sm hidden-md">in progress</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>5</td>
                    <td>Update jQuery library</td>
                    <td class="hidden-xs hidden-sm">Holden Caulfield</td>
                    <td class="hidden-xs hidden-sm hidden-md">deployed</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>6</td>
                    <td>Issues in IE7</td>
                    <td class="hidden-xs hidden-sm">Jane Doe</td>
                    <td class="hidden-xs hidden-sm hidden-md">failed qa</td>
                  </tr>
                  <tr onclick="setLocation('index.html')">
                    <td>7</td>
                    <td>Bugs from Sprint 14</td>
                    <td class="hidden-xs hidden-sm">Kilgore Trout</td>
                    <td class="hidden-xs hidden-sm hidden-md">completed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2">&nbsp;</div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>Đăng nhập</h3><br>         
              <div class="form-group has-success">
                <input type="text" class="form-control" placeholder="Tên đăng nhập">
              </div>
              <div class="form-group has-success">
                <input type="password" class="form-control" placeholder="Mật khẩu">
              </div>
              <div class="form-group has-success">
                <a href="index.html" class="btn btn-default active">Hủy</a>&nbsp;<button class="btn btn-default">Đăng nhập</button>
              </div>
            </div>            
          </div>
        </div>
      </div>  
    </div><!-- content -->
    <div id="footer">
      
    </div><!-- footer -->
  </body>
</html>