// less editor online: http://winless.org/online-less-compiler
// Declaring variables
@primary: #1abc9c;
@success:#2ecc71;
@warning:#f1c40f;
@danger:#e74c3c;
@inverse:#415b76;
@info:#5dade2;
@default:#bdc3c7;
@white:#fff;

// function


